<launch>

  <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen">

    <!-- Camera topic to subscribe to -->
    <param name="cam_topic" value="/cv_camera/image_left" type="str" />
    
    <!-- Camera calibration file -->
    <rosparam file="$(find svo_ros)/param/camera_mynteye.yaml" />

    <!-- Default parameter settings: choose between vo_fast and vo_accurate -->
    <rosparam file="$(find svo_ros)/param/vo_accurate.yaml" />
    
  </node>

  <!-- node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find svo_ros)/rviz_config.rviz" /-->
  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find svo_ros)/rviz_config.rviz" />

</launch>
